

@model NBAWeb.Models.DTO_Arenas
@{
    ViewData["Title"] = "Arenase";
}

<header>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</header>
<table width="95%">
    <tr>
        <td width="60%">
            <h1>Arenas</h1>
        </td>
        <td align="right">
            
            <form asp-action="SearchArenas" asp-controller="Arenas">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <button class="btn btn-info" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
                            <path d="M 9 2 C 5.1458514 2 2 5.1458514 2 9 C 2 12.854149 5.1458514 16 9 16 C 10.747998 16 12.345009 15.348024 13.574219 14.28125 L 14 14.707031 L 14 16 L 20 22 L 22 20 L 16 14 L 14.707031 14 L 14.28125 13.574219 C 15.348024 12.345009 16 10.747998 16 9 C 16 5.1458514 12.854149 2 9 2 z M 9 4 C 11.773268 4 14 6.2267316 14 9 C 14 11.773268 11.773268 14 9 14 C 6.2267316 14 4 11.773268 4 9 C 4 6.2267316 6.2267316 4 9 4 z"></path>
                        </svg>
                    </button>
                </div>
            </form>
            
        </td>
    </tr>

</table>
<table width="95%">
    <tr>
        <th width="15%">
           
            <button class="btn btn-info" type="button"> 
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50">
                    <path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24 13 L 24 24 L 13 24 L 13 26 L 24 26 L 24 37 L 26 37 L 26 26 L 37 26 L 37 24 L 26 24 L 26 13 L 24 13 z"></path>
                </svg>
            </button>
        </th>
        <th>
            Page @Model.CurrentPage of @Model.TotalPages <br />@(Model.TotalRecords > 0 ? ("Arenas " + (Model.CurrentPage - 1) * Model.PageSize + 1 + "-" + (Model.CurrentPage) * Model.PageSize) : "Arenas: " + 0  )
            of @Model.TotalRecords
        </th>
        <th align="right">
            <div class="col-8 my-0 pt-3">
                <ul class="pagination pagination-sm" asp-action="GetArenasPage">
                    @if (Model.HasPrevious)
                    {
                        <li class="page-item ">
                            <a class="page-link " asp-route-page="@(Model.CurrentPage - 1)">&laquo;</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link " asp-route-page="@(Model.CurrentPage - 1)">&laquo;</a>
                        </li>
                    }

                    
                    <li class="page-item active">
                        <a class="page-link " asp-route-page="@(Model.CurrentPage)">@Model.CurrentPage</a>
                    </li>
                    @if (Model.HasNext)
                    {
                        <li class="page-item ">
                            <a class="page-link  " asp-route-page="@(Model.CurrentPage + 1)">&raquo;</a>
                        </li>

                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link " asp-route-page="@(Model.CurrentPage + 1)">&raquo;</a>
                        </li>
                    }

                </ul>
            </div>
        </th>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Location</th>
            <th></th>
            
        </tr>
    </thead>
    
    <tbody>
@foreach (var item in Model.Records) {
         

            <tr>
                <td>
                        <a asp-action="GetArena" asp-controller="Arenas" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Location)
                </td>

            </tr>
            
}
    </tbody>
</table>
