@model NBAWeb.Models.DTO_TeamDetails

@{
    ViewData["Title"] = "GetTeam";
}



<div>
    <p>
        <h1> @Html.DisplayFor(model => model.Name) - Team Details</h1>
    </p>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acronym)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acronym)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class="col-sm-10">
            <img height="150px" src="@Html.DisplayFor(model => model.Logo)" alt="logo" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
             @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            State
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateName)
        </dd>
        <dt class = "col-sm-2">
            Conference
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConferenceName)
        </dd>
        <dt class="col-sm-2">
            Division
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DivisionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.History)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetTeams">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50">


            </style>
            <path fill="gray" d="M 3 9 A 1.0001 1.0001 0 1 0 3 11 L 47 11 A 1.0001 1.0001 0 1 0 47 9 L 3 9 z M 3 24 A 1.0001 1.0001 0 1 0 3 26 L 47 26 A 1.0001 1.0001 0 1 0 47 24 L 3 24 z M 3 39 A 1.0001 1.0001 0 1 0 3 41 L 47 41 A 1.0001 1.0001 0 1 0 47 39 L 3 39 z"></path>
        </svg>
    </a>
</div>